* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

/*#region Nav Bar Things*/

#Banner {
    height: 120px;
    background-size: cover;
    opacity: 0.95;
    margin-bottom: -30px
}
#HeaderPadding {
    margin: 0px 40px 0px 40px;
    padding-top: 12px
}

#BodyPadding {
    margin: 40px 40px 40px 40px;
}

#NamePlate {
    color: white;
}
.ProfileDescriptor{
    color:lightgrey;
}
.ProfileDescriptor:first-child:before {
    content: "";
    padding: 0;
}
.ProfileDescriptor:before{
    content: "|";
    padding: 0 10px;
}
#NavBar {
    position: sticky;
    top: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: transparent;
    z-index: 100;
}

#NavBarLeft {
    display: flex;
}
#NavFiller
{
    flex-grow: 1;
    background-color: darkgrey;
}
#NavBarRight{
    height:100%;
    float:right;
}

#NavBarRight > a > img {
    max-height: 100%;
    width: auto;
    background-color: darkgrey;
}
#NavBarRight > a > img:hover {
    background-color: rgba(224, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.NavBarContent {
    width: 100px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    user-select: none;
    -webkit-user-select: none;
    background-color: darkgrey;
}

.ActiveNav {
    background-color: rgba(224, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    font-weight: bold;
    color: white;
}

.NavBarContent:hover {
    font-weight: bold;
    border-bottom: 2px solid lightcyan;
}
.NavBarContent.ActiveNav:hover {
    border-bottom: 2px solid lightcyan;
}


.homeContent{
    border-style: solid;
    border-width: 2px;
    background-color: darkgrey;
    opacity: 0.90;
    padding: 10px;
    margin-bottom: 20px;
}
/*#endregion Nav Bar Things*/

/*#region HomePage*/
#home{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#leftHome {
    width: calc(100% - 40px - 300px);
    min-width: 440px;
}

#rightHome {
    width: 300px;
}

#fullHome {
    width: 100%;
}

.homeContent{
    border-style: solid;
    border-width: 2px;
    background-color: darkgrey;
    padding: 10px;
    margin-bottom: 20px;
}

.homeContent:last-child{
    margin-bottom: 0px;
}

.homeContent ul{
    list-style-position: inside;
}

@media screen and (max-width: 1250px) {
    #portfolio .homeContent {
        width: 100%;
    }

}

@media screen and (max-width: 860px){
    #home{
        flex-direction: column-reverse;
    }
    #leftHome, #rightHome{
        width: 100%;
    }

    .prev2{
        color: black;
    }
    .row{
        flex-direction:column-reverse;
        align-items: stretch;
    }
    .slides > img{
        width: 88%;
        margin-left:6%;
    }
}

.lineBreak {
    width: 100%;
    height: 1px;
    background-color: dimgrey;
    margin: 6px 0;
}

/*#endregion HomePage*/